body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#globe-container {
    width: 100vw;
    height: 100vh;
    background: black;
}

#toggle-img {
    width: 2em;
    height: auto;
}

#toggle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    width: auto;
    height: auto;
}